<% provide(:title, "授業") %>
<div class="container">
    <div class="row">
        <div class="col-sm-8 px-sm-0 offset-sm-1">
            <h2 class="my-5">授業一覧</h2>
        </div>
    </div>
    <div class="row">
    　<div class="col-sm-10 offset-1">
        <%= render 'index', lessons: @lessons %>
          <%= paginate @lessons %>
        </div>
    </div>
</div>
