<div class="container">
  <div class="row">
    <%=image_tag "george_2.jpg",class:"col-xl-6"%>
    <div class = "col-xl-6 align-middle">
      <h4>~わたしGeorgeについて~</h4>
      <p>
      21歳から英会話学習を初めて、24歳にてオーストラリでの2年間の勤務経験、TOEIC980点取得、発音はほぼネイティブと言われるまで独学で学習してきた経験を活かしてオンラインの英会話コーチをしています。
ますますグローバル化する日本で、「少しでも多くの大人が英語を話せて観光客や移民の方々とコミュニケーションを取れるように」という想いで英会話を教えています。
また今の親の世代が英会話に挑戦する姿を子供たちに見せることも大きな影響を与えると思っています。
大人になってから話せるようになった私にしかできないことがあると信じてフリーランスで、できることを少しずつ広げている段階です。
少しでも英会話に興味のある方は3枚目の写真のLINEまたはID:george.yからお気軽に友達追加してください！
#英会話 #英語 #お庭で英会話 #国内留学 #糸島留学 #語学勉強 #大人の英会話 #英会話コーチ #発音コーチ #TOEIC900 #TOEIC980 #nevertoolate #手遅れなんてない
     </p>
    </div>
  </div>
</div>