   <div class="container">
        <div class="row">
            <div class="col-xs-12 mx-auto">
                <div class="text-center">
                    <p>
                      <span>George English</span><br>
                      大人からでも英語を習得は可能です。
                    </p>
                </div>
            </div>
        </div>
    </div>